*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
*.xcworkspacedata

.svn/
obj/
bin/
build/
!data/
example-mc-noise/.vs/example-mc-noise/FileContentIndex/06b58ded-f3f5-45a4-8555-7dbda60b20a6.vsidx
example-mc-noise/.vs/example-mc-noise/v17/.suo
example-mc-noise/.vs/example-mc-noise/v17/Browse.VC.db
example-mc-noise/.vs/example-mc-noise/v17/fileList.bin
example-mc-noise/.vs/example-mc-noise/v17/ipch/AutoPCH/301bbe5c67dac252/MAIN.ipch
example-mc-noise/.vs/example-mc-noise/v17/ipch/AutoPCH/336e74678a582e49/MARCHINGTETRAHEDRONS.ipch
example-mc-noise/.vs/example-mc-noise/v17/ipch/AutoPCH/a28b4d41a53fe351/OF3DPRIMITIVES.ipch
example-mc-noise/.vs/example-mc-noise/v17/ipch/AutoPCH/c1d6610a1050ea9f/OFAPP.ipch
example-mc-noise/.vs/example-mc-noise/v17/Solution.VC.db
example-mc-noise/config.make
example-mc-noise/example-mc-noise.sln
example-mc-noise/example-mc-noise.vcxproj
example-mc-noise/example-mc-noise.vcxproj.filters
example-mc-noise/example-mc-noise.vcxproj.user
example-mc-noise/icon.rc
example-mt-noise/.vs/example-mt-noise/FileContentIndex/9beb7b1a-817e-49e9-b4a1-e6acc470a374.vsidx
example-mt-noise/.vs/example-mt-noise/FileContentIndex/e4628581-9df0-4f23-91eb-4745a7dbf467.vsidx
example-mt-noise/.vs/example-mt-noise/v17/.suo
example-mt-noise/.vs/example-mt-noise/v17/Browse.VC.db
example-mt-noise/.vs/example-mt-noise/v17/fileList.bin
example-mt-noise/.vs/example-mt-noise/v17/ipch/AutoPCH/2731fa60c95b7750/OFAPP.ipch
example-mt-noise/.vs/example-mt-noise/v17/ipch/AutoPCH/4a59a307fc07fc37/MARCHINGTETRAHEDRONS.ipch
example-mt-noise/.vs/example-mt-noise/v17/ipch/AutoPCH/92cb437411882e57/MAIN.ipch
example-mt-noise/.vs/example-mt-noise/v17/Solution.VC.db
example-mt-noise/config.make
example-mt-noise/example-mt-noise.sln
example-mt-noise/example-mt-noise.vcxproj
example-mt-noise/example-mt-noise.vcxproj.filters
example-mt-noise/example-mt-noise.vcxproj.user
example-mt-noise/icon.rc
